#alert {
    background-color: #333;
    color: white;
    text-align: center;
    z-index: 1;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
